@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-inter);
    --font-display: var(--font-outfit);
}

@layer base {
    body {
        @apply bg-white text-neutral-900 antialiased;
    }
}